<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <div class="grid__container">
        <header>
            <p><a class="nav__item" href="index.html">Home</a></p>
        </header>

        <main>
            <div class="main__form">
                <h1>Travel Planner</h1>
                <form class="location__form">
                    <label for="location">Where do you want to go?</label>
                    <input type="text" name="location" id="location" placeholder="Put the desired location here">
                </form>
                <form class="dates__form">
                    <label for="start-date">When are you going?</label>
                    <input type="date" id="start-date">
                </form>
                <form class="dates__form">
                    <label for="end-date">Until when?</label>
                    <input type="date" id="end-date">
                </form>
                <button type="submit" id="button">Send</button>
            </div>
            <div id="results" class="main__results">
                <h2>Your trip</h2>
            </div>
        </main>
        <footer>
            <h2>Add me!</h2>
            <p><a aria-label="Add me on GitHub" href="https://github.com/Bmg1612">Github</a></p>
            <p><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/">Linkedin</a></p>
        </footer>
    </div>
</body>

</html>