form {
  @extend %form;
  display: flex;
  flex-direction: column;

  .location__input {
    @extend %input;
    width: 20%;
    @include for-phone-only {
      width: 70%;
    }
    @include for-tablet-only {
      width: 40%;
    }
    @include for-printing-only {
      width: 50%;
      font-size: 1.5rem;
    }
  }
  .dates__input {
    @extend %input;
    width: 10%;
    @include for-phone-only {
      width: 50%;
    }
    @include for-tablet-only {
      width: 20%;
    }
    @include for-printing-only {
      width: 25%;
      font-size: 1.5rem;
    }
  }
}

button {
  @include for-printing-only {
    display: none;
  }
  @include for-phone-only {
    width: 50%;
  }
  @include for-tablet-only {
    width: 20%;
  }
  margin: 40px auto 0 auto;
  display: block;
  cursor: pointer;
  width: 15%;
  height: 50px;
  border-radius: 25%;
  background-color: #084627;
  box-shadow: 3px 3px 5px 6px #ccc;
  color: #e3f8ed;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;

  &:hover {
    background-color: #15c26b;
    color: $primary-color;
    text-decoration: underline;
  }
}

img {
  width: 97%;
  height: 85%;
  margin-top: 35px;
  padding: 0 10px;
  border-radius: 15%;
  @include for-phone-only {
    width: 90%;
  }
  @include for-tablet-only {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
